In [1]:
import pandas as pd
import requests
import csv
import os
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
work_deaths_csv = "work_deaths.csv"

work_deaths_df = pd.read_csv(work_deaths_csv, encoding="utf-8")

work_deaths_df.head()

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_indicator.label,note_source.label
0,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2009,2.65,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
1,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2010,1.96,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
2,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2011,2.00,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
3,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2012,2.01,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...
4,Australia,SDG indicator 8.8.1 - Fatal occupational injur...,AUS - ADM - Work-related Traumatic Injury Fata...,Sex: Total,Migrant status: Total,2013,1.71,NaN,Coverage of occupational injuries: Compensated...,Data reference period: Noncalendar year | Refe...

In [3]:
del work_deaths_df['indicator.label']
del work_deaths_df['source.label']
del work_deaths_df['sex.label']
del work_deaths_df['classif1.label']
del work_deaths_df['obs_status.label']
del work_deaths_df['note_indicator.label']
del work_deaths_df['note_source.label']
work_deaths_df.head()

  ref_area.label  time  obs_value
0      Australia  2009       2.65
1      Australia  2010       1.96
2      Australia  2011       2.00
3      Australia  2012       2.01
4      Australia  2013       1.71

In [4]:
work_deaths_df.rename(columns = {'ref_area.label':'country'}, inplace = True)
work_deaths_df.rename(columns = {'time':'year'}, inplace = True)
work_deaths_df.rename(columns = {'obs_value':'death_rate'}, inplace = True)
work_deaths_df.head()

     country  year  death_rate
0  Australia  2009        2.65
1  Australia  2010        1.96
2  Australia  2011        2.00
3  Australia  2012        2.01
4  Australia  2013        1.71

In [5]:
work_deaths_df.round({'death_rate': 2})

      country  year  death_rate
0   Australia  2009        2.65
1   Australia  2010        1.96
2   Australia  2011        2.00
3   Australia  2012        2.01
4   Australia  2013        1.71
5   Australia  2014        1.61
6   Australia  2015        1.65
7     Germany  2009        1.06
8     Germany  2010        1.20
9     Germany  2011        1.18
10    Germany  2012        1.19
11    Germany  2013        0.99
12    Germany  2014        1.10
13    Germany  2015        0.97
14      Spain  2009        2.61
15      Spain  2010        2.32
16      Spain  2011        2.51
17      Spain  2012        2.17
18      Spain  2013        1.89
19      Spain  2014        2.02
20      Spain  2015        2.31
21      Spain  2016        1.79
22     France  2009        2.17
23     France  2010        2.44
24     France  2011        3.09
25     France  2012        2.53
26     France  2013        2.42
27     France  2014        2.70
28     France  2015        2.55
29      Italy  2009        3.01
30      Italy  2010        3.02
31      Italy  2011        2.71
32      Italy  2012        2.64
33      Italy  2013        2.31
34      Italy  2014        2.34
35      Italy  2015        2.42
36     Mexico  2009       10.00
37     Mexico  2010       10.00
38     Mexico  2011       10.54
39     Mexico  2012        9.78
40     Mexico  2013        8.09
41     Mexico  2014        7.91
42     Mexico  2015        8.23
43     Mexico  2016        7.73

In [6]:
occ_deaths = work_deaths_df.round({'death_rate': 2})
occ_deaths

      country  year  death_rate
0   Australia  2009        2.65
1   Australia  2010        1.96
2   Australia  2011        2.00
3   Australia  2012        2.01
4   Australia  2013        1.71
5   Australia  2014        1.61
6   Australia  2015        1.65
7     Germany  2009        1.06
8     Germany  2010        1.20
9     Germany  2011        1.18
10    Germany  2012        1.19
11    Germany  2013        0.99
12    Germany  2014        1.10
13    Germany  2015        0.97
14      Spain  2009        2.61
15      Spain  2010        2.32
16      Spain  2011        2.51
17      Spain  2012        2.17
18      Spain  2013        1.89
19      Spain  2014        2.02
20      Spain  2015        2.31
21      Spain  2016        1.79
22     France  2009        2.17
23     France  2010        2.44
24     France  2011        3.09
25     France  2012        2.53
26     France  2013        2.42
27     France  2014        2.70
28     France  2015        2.55
29      Italy  2009        3.01
30      Italy  2010        3.02
31      Italy  2011        2.71
32      Italy  2012        2.64
33      Italy  2013        2.31
34      Italy  2014        2.34
35      Italy  2015        2.42
36     Mexico  2009       10.00
37     Mexico  2010       10.00
38     Mexico  2011       10.54
39     Mexico  2012        9.78
40     Mexico  2013        8.09
41     Mexico  2014        7.91
42     Mexico  2015        8.23
43     Mexico  2016        7.73

In [7]:
#engine = create_engine('postgresql://user@localhost:57836/occ_deaths_db')

In [8]:
#i=occ_deaths
#i.to_sql('occ_deaths',engine,if_exists='replace')

In [9]:
#a=pd.read_sql_query('select * from occ_deaths',con=engine)

In [10]:
#occ_deaths.to_sql('occ_deaths', engine)

In [11]:
#engine = create_engine('postgresql://scott:tiger@localhost:57836/occ_deaths_db')
#df.to_sql('occ_deaths', engine)

In [12]:
connection_string = "postgres:postgres@localhost:5432/occ_deaths_db"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
engine.table_names()

['occ_deaths']

In [14]:
occ_deaths.to_sql(name='occ_deaths', con=engine, if_exists='append', index=False)