In [1]:
import pandas as pd
import requests
import csv
import os
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [4]:
labor_pop_csv = "Labor population.xlsx.csv"

labor_pop = pd.read_csv(labor_pop_csv, encoding="utf-8")

labor_pop.head()

     Country  Year  Labor Population
0  Australia  2009          11493325
1  Australia  2010          11690165
2  Australia  2011          11856658
3  Australia  2012          12017116
4  Australia  2013          12189841

In [5]:
total_pop_csv = "Total population.csv"

total_pop = pd.read_csv(total_pop_csv, encoding="utf-8")

total_pop.head()

     Country  Year  Total Population
0  Australia  2009          21691700
1  Australia  2010          22031750
2  Australia  2011          22340024
3  Australia  2012          22733465
4  Australia  2013          23128129

In [ ]:
frames = [total_pop_df, labor_pop_df, occ_deaths]

result = pd.concat(frames, axis=1, sort=True, join='outer')