In [6]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [155]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jun09sept09.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4]], axis=1, inplace=True)


variable.dropna()

         Country    Year  Death Rate
0  United States  2009.0        0.11

In [148]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\sept09sept10.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
#variable.drop(['Unnamed: 6'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3]], axis=1, inplace=True)
variable.dropna()
#variable.head()

    total        Country    Year  Death Rate
0  1167.0  United States  2010.0        1.04

In [159]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jul10sept11.csv", encoding = "ISO-8859-1")
variable.drop(['Company'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2011.0        1.03

In [163]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\feb11sept12.csv", encoding = "ISO-8859-1")
variable.drop(['Unnamed: 4'], axis=1, inplace=True)
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2012.0        0.95

In [165]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jan12sept13.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2013.0        0.97

In [168]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\sept13sept14.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2014.0        1.14

In [170]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\oct14oct15.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2015.0        1.04

In [172]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\jan15sept16.csv", encoding = "ISO-8859-1")
variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)
#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2016.0        0.87

In [187]:
variable= pd.read_csv(r"C:\Users\stods\git\workplaceinjuries\may16apr17.csv", encoding = "ISO-8859-1")
variable.drop(['Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

variable.drop(variable.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8]], axis=1, inplace=True)



#variable.head()
variable.dropna()

         Country    Year  Death Rate
0  United States  2017.0        0.45